/* Block Styles for Testing */
.block-blue {
    background-color: blue;
}

.block-red {
    background-color: red;
}

.block-yellow {
    background-color: yellow;
}

.block-green {
    background-color: green;
}

.block-purple {
    background-color: purple;
}