.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-blue {
    background-color: blue;
}

.bg-orange {
    background-color: #F0491B;
}

.bg-red {
    background-color: red;
}

.bg-green {
    background-color: #269640;
}

.bg-purple {
    background-color: #4527F3;
}


.bg-light {
    background-color: #f6f8fa;
}

.bg-dark {
    background-color: #1C1E1F;
}

.bg-dark2 {
    background-color: #020411;
}

.bg-dark3 {
    background-color: #161F2C;
}

.bg-dark4 {
    background-color: #10151D;
}

.bg-dark5 {
    background-color: #464D51;
}

.bg-dark6 {
    background-color: #8A94A0;
}

.bg-dark7 {
    background-color: #97999B;
}

.bg-dark8 {
    background-color: #141517;
}

.bg-light-blue {
    background-color: #17A3E9;
}

.bg-light-gray {
    background-color: ghostwhite;
}

.bg-blue-purple {
    background-color: #3311f5;
}

/* Block Styles for Testing */
.block-blue {
    background-color: blue;
}

.block-red {
    background-color: red;
}

.block-yellow {
    background-color: yellow;
}

.block-green {
    background-color: green;
}

.block-purple {
    background-color: purple;
}

.glass {
    background: rgba(255, 255, 255, 0.16);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}