/* Base Styles */
.body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100vw;
}

.main {
    max-width: 1400px;
    margin: 0 auto;
    min-height: 90vh;
    overflow-y: hidden;
    overflow-y: auto;
    /* Scrolls only when the content overflows */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.main::-webkit-scrollbar {
    display: none;
    /* Hides scrollbar in Webkit-based browsers (Chrome, Safari) */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}