.border-b-1-black {
    border-bottom: 1px solid black;
}

.border-b-2-black {
    border-bottom: 2px solid black;
}

.border-b-3-black {
    border-bottom: 3px solid black;
}

.border-b-4-black {
    border-bottom: 4px solid black;
}

.border-b-5-black {
    border-bottom: 5px solid black;
}

.border-b-6-black {
    border-bottom: 6px solid black;
}