.black {
    color: black;
}

.white {
    color: white;
}

.gray {
    color: gray;
}

.light-gray {
    color: ghostwhite;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.light-blue {
    color: #17A3E9;
}

.orange {
    color: #F0491A;
}

.purple {
    color: #8325FF;
}