.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.static {
    position: static;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.box {
    box-sizing: border-box;
}

.separate-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separate-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.fit-width {
    width: fit-content;
}

.fit-height {
    height: fit-content;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.gap-sm {
    gap: 0.5em;
}

.gap {
    gap: 1em;
}

.gap-md {
    gap: 1.5em
}

.gap-lg {
    gap: 2em
}

.gap-xl {
    gap: 2.5em;
}