.fixed {
    position: fixed;
}

.inline {
    display: inline;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
    top: 0px;
    bottom: 0px;
}

.static {
    position: static;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.box {
    box-sizing: border-box;
}

.separate-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separate-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.horizontal-center {
    display: flex;
    justify-content: center;
}

.vertical-center {
    align-items: center;
}

.vertical-bottom {
    align-items: end;
}

.fit-width {
    width: fit-content;
}

.fit-height {
    height: fit-content;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.height-100 {
    height: 100vh;
}

.height-90 {
    height: 90vh;
}

.height-80 {
    height: 80vh;
}

.height-70 {
    height: 70vh;
}

.height-60 {
    height: 60vh;
}

.height-50 {
    height: 50vh;
}

.height-40 {
    height: 40vh;
}

.height-30 {
    height: 30vh;
}

.height-20 {
    height: 20vh;
}

.height-10 {
    height: 10vh;
}

.height-0 {
    height: 0;
}

.width-100 {
    width: 100vw;
}

.width-90 {
    width: 90vw;
}

.width-80 {
    width: 80vw;
}

.width-70 {
    width: 70vw;
}

.width-60 {
    width: 60vw;
}

.width-50 {
    width: 50vw;
}

.width-40 {
    width: 40vw;
}

.width-30 {
    width: 30vw;
}

.width-20 {
    width: 20vw;
}

.width-10 {
    width: 10vw;
}

.width-0 {
    width: 0;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.grid-5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.gap-sm {
    gap: 0.5em;
}

.gap {
    gap: 1em;
}

.gap-md {
    gap: 1.5em
}

.gap-lg {
    gap: 2em
}

.gap-xl {
    gap: 2.5em;
}

.scroll-x {
    overflow-x: scroll;
    /* Enable horizontal scrolling */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.scroll-x::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.scroll-y {
    overflow-y: scroll;
    /* Enable vertical scrolling */
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

.scroll-y::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.expand-h {
    width: 100%;
    box-sizing: border-box;
    /* Ensures padding and borders are included in the total width */
}

.expand-v {
    height: 100%;
    box-sizing: border-box;
    /* Ensures padding and borders are included in the total height */
}