.separate-h {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separate-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-center {
    align-items: center;
}

.fit-width {
    width: fit-content;
}