.no-m {
    margin: 0;
}

.m-sm {
    margin: 0.5em;
}

.m {
    margin: 1em;
}

.m-md {
    margin: 1.5em;
}

.m-lg {
    margin: 2em;
}

.m-v {
    margin-top: 1em;
    margin-bottom: 1em;
}
.m-h {
    margin-left: 1em;
    margin-right: 1em;
}
