.text-sm {
    font-size: 1rem;
}

.text-md {
    font-size: 2rem;
}

.text-lg {
    font-size: 3rem;
}

.upper {
    text-transform: uppercase;
}

.lower {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.underline {
    text-decoration: underline;
}

.line-sm {
    line-height: 1em;
}